<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <fileDataCollectionRunSettings>
    <fileDataCollectors>
      <fileDataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </fileDataCollector>
    </fileDataCollectors>
  </fileDataCollectionRunSettings>
</RunSettings>
